body{
    background-color:#000814;
}
h1{
    color: #f8f8f8;
}
h2{
    color: #f8f8f8;
}
h3{
    color: #f8f8f8;
}
p
{
    color: #f8f8f8;
}
#actividades{
    background-color:#001d3d;
    border: #000814;
}